.delete-pop-up {
    display: flex;
    flex-direction: column;
    height: 190px;
    align-items: center;
    justify-content: center;
}

.icon-display {
    transform: scale(2);
}

.close {
    width: 395px;
    margin-bottom: 30px;
    padding-right: 12px;
    cursor: pointer;
}